.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh);
  overflow-y: auto;
  min-width: 200px;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-weight: normal;
  font-size: small;
}

.add-card-button {
  background-color: #4caf50;
  color: white;
  padding: 0 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  width: 24px;
}

/* Styles for hover state */
.add-card-button:hover {
  background-color: #45a049;
}


.column form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.column input {
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.column button[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
